
.menu {
	border-bottom: 1px dotted #e5e5e5;
	padding: 0 0 10px;
	margin: 0 20px 20px;
	flex-basis: 25%;
}

.menu-title,
.menu-price {
	margin: 0 0 10px;
	font-size: 14px;
	color: #111;
}

.menu-price-detail {
	position: relative;
	text-align: right;
}

.menu-wrapper {
	display: flex;
	flex-wrap: wrap;

	&:before,
	&:after {
		display: none;
	}
}