//@import 'colors/_default';

$team__background-color: $color-white;

.navbar-brand {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
}

.header-logo {
    width: 100%;
}

.about-section {
    background: $color-white;
}

.menu-module {
    padding-bottom: 0;
}

.info-box {
    padding-left: 55px;

    &-icon {
        left: 10px;
    }
}

.menu-row {
    display: flex;
    flex-wrap: wrap;
}

.footer {
    padding: 100px;
}

.menu-subcategory-title {
    margin: 20px 0 40px;
}

.gallery-row {
    display: flex;
    flex-wrap: wrap;
}

.gallery-column {
    flex: 1;
}

.team {
    background: $team__background-color;
}

.services-wrapper {
    display: grid;
    margin: 0;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 40px;
}

@media only screen and (max-width: $tablet) {
    .container {
        padding:  0 40px;
    }

    .navbar-brand {
        width: 77px;
    }

    .module-title {
        font-size: 20px;
    }

    .services-wrapper {
        grid-template-columns: 1fr;
    }

    .menu-wrapper {
        grid-template-columns: 1fr;
    }

    .holder-w {
        display: none;
    }

    .alt-module-subtitle h5 {
        white-space: normal;
        text-align: center;
    }

    .menu-subcategory-title {
        text-align: center;
    }

    .alt-module-subtitle {
        display: block;
    }

    .info-box {
        padding: 0;
    }

    .footer {
        padding: 100px 40px;
    }

    .navbar-fixed-top .navbar-collapse {
        max-height: inherit;
    }
}